# Ambientes virtuais
venv/
server/venv/
load_balancer/venv/
api_gateway/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs e ferramentas
.vscode/
.idea/

# Cache e outros
.mypy_cache/
.pytest_cache/

# Outros
.DS_Store

# Environment variables
.env
.env.*

# Logs
*.log

# Database
*.sqlite3
*.db

# Docker
.docker/

# Railway
.railway/ 